DevJobs.API/bin/Debug/net6.0/DevJobs.API.dll
DevJobs.API/bin/Debug/net6.0/DevJobs.API.exe
DevJobs.API/bin/Debug/net6.0/DevJobs.API.pdb
DevJobs.API/.vscode/launch.json
DevJobs.API/.vscode/tasks.json
DevJobs.API/bin/Debug/net6.0/appsettings.Development.json
DevJobs.API/bin/Debug/net6.0/appsettings.json
DevJobs.API/bin/Debug/net6.0/DevJobs.API.deps.json
DevJobs.API/bin/Debug/net6.0/DevJobs.API.runtimeconfig.json
DevJobs.API/bin/Debug/net6.0/Microsoft.OpenApi.dll
DevJobs.API/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
DevJobs.API/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
DevJobs.API/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
DevJobs.API/bin/Debug/net6.0/ref/DevJobs.API.dll
DevJobs.API/obj/DevJobs.API.csproj.nuget.dgspec.json
DevJobs.API/obj/DevJobs.API.csproj.nuget.g.props
DevJobs.API/obj/DevJobs.API.csproj.nuget.g.targets
DevJobs.API/obj/project.assets.json
DevJobs.API/obj/project.nuget.cache
DevJobs.API/obj/staticwebassets.pack.sentinel
DevJobs.API/obj/Debug/net6.0/apphost.exe
DevJobs.API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DevJobs.API/obj/Debug/net6.0/DevJobs.API.AssemblyInfo.cs
DevJobs.API/obj/Debug/net6.0/DevJobs.API.AssemblyInfoInputs.cache
DevJobs.API/obj/Debug/net6.0/DevJobs.API.assets.cache
DevJobs.API/obj/Debug/net6.0/DevJobs.API.csproj.AssemblyReference.cache
DevJobs.API/obj/Debug/net6.0/DevJobs.API.csproj.CopyComplete
DevJobs.API/obj/Debug/net6.0/DevJobs.API.csproj.CoreCompileInputs.cache
DevJobs.API/obj/Debug/net6.0/DevJobs.API.csproj.FileListAbsolute.txt
DevJobs.API/obj/Debug/net6.0/DevJobs.API.dll
DevJobs.API/obj/Debug/net6.0/DevJobs.API.GeneratedMSBuildEditorConfig.editorconfig
DevJobs.API/obj/Debug/net6.0/DevJobs.API.genruntimeconfig.cache
DevJobs.API/obj/Debug/net6.0/DevJobs.API.GlobalUsings.g.cs
DevJobs.API/obj/Debug/net6.0/DevJobs.API.MvcApplicationPartsAssemblyInfo.cache
DevJobs.API/obj/Debug/net6.0/DevJobs.API.MvcApplicationPartsAssemblyInfo.cs
DevJobs.API/obj/Debug/net6.0/DevJobs.API.pdb
DevJobs.API/obj/Debug/net6.0/project.razor.json
DevJobs.API/obj/Debug/net6.0/staticwebassets.build.json
DevJobs.API/obj/Debug/net6.0/ref/DevJobs.API.dll
DevJobs.API/bin/Debug/net6.0/Humanizer.dll
DevJobs.API/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
DevJobs.API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
DevJobs.API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
DevJobs.API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
DevJobs.API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.InMemory.dll
DevJobs.API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
DevJobs.API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
DevJobs.API/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
DevJobs.API/bin/Debug/net6.0/Microsoft.Identity.Client.dll
DevJobs.API/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
DevJobs.API/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
DevJobs.API/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
DevJobs.API/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
DevJobs.API/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
DevJobs.API/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
DevJobs.API/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
DevJobs.API/bin/Debug/net6.0/System.Drawing.Common.dll
DevJobs.API/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
DevJobs.API/bin/Debug/net6.0/System.Runtime.Caching.dll
DevJobs.API/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
DevJobs.API/bin/Debug/net6.0/System.Security.Permissions.dll
DevJobs.API/bin/Debug/net6.0/System.Windows.Extensions.dll
DevJobs.API/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
DevJobs.API/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
DevJobs.API/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
DevJobs.API/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
DevJobs.API/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
DevJobs.API/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
DevJobs.API/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
DevJobs.API/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
DevJobs.API/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
DevJobs.API/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
DevJobs.API/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
DevJobs.API/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
DevJobs.API/obj/DevJobs.API.csproj.EntityFrameworkCore.targets
