DevJobs.API/bin/Debug/net6.0/DevJobs.API.dll
DevJobs.API/bin/Debug/net6.0/DevJobs.API.exe
DevJobs.API/bin/Debug/net6.0/DevJobs.API.pdb
DevJobs.API/.vscode/launch.json
DevJobs.API/.vscode/tasks.json
DevJobs.API/bin/Debug/net6.0/appsettings.Development.json
DevJobs.API/bin/Debug/net6.0/appsettings.json
DevJobs.API/bin/Debug/net6.0/DevJobs.API.deps.json
DevJobs.API/bin/Debug/net6.0/DevJobs.API.runtimeconfig.json
DevJobs.API/bin/Debug/net6.0/Microsoft.OpenApi.dll
DevJobs.API/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
DevJobs.API/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
DevJobs.API/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
DevJobs.API/bin/Debug/net6.0/ref/DevJobs.API.dll
DevJobs.API/obj/DevJobs.API.csproj.nuget.dgspec.json
DevJobs.API/obj/DevJobs.API.csproj.nuget.g.props
DevJobs.API/obj/DevJobs.API.csproj.nuget.g.targets
DevJobs.API/obj/project.assets.json
DevJobs.API/obj/project.nuget.cache
DevJobs.API/obj/staticwebassets.pack.sentinel
DevJobs.API/obj/Debug/net6.0/apphost.exe
DevJobs.API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DevJobs.API/obj/Debug/net6.0/DevJobs.API.AssemblyInfo.cs
DevJobs.API/obj/Debug/net6.0/DevJobs.API.AssemblyInfoInputs.cache
DevJobs.API/obj/Debug/net6.0/DevJobs.API.assets.cache
DevJobs.API/obj/Debug/net6.0/DevJobs.API.csproj.AssemblyReference.cache
DevJobs.API/obj/Debug/net6.0/DevJobs.API.csproj.CopyComplete
DevJobs.API/obj/Debug/net6.0/DevJobs.API.csproj.CoreCompileInputs.cache
DevJobs.API/obj/Debug/net6.0/DevJobs.API.csproj.FileListAbsolute.txt
DevJobs.API/obj/Debug/net6.0/DevJobs.API.dll
DevJobs.API/obj/Debug/net6.0/DevJobs.API.GeneratedMSBuildEditorConfig.editorconfig
DevJobs.API/obj/Debug/net6.0/DevJobs.API.genruntimeconfig.cache
DevJobs.API/obj/Debug/net6.0/DevJobs.API.GlobalUsings.g.cs
DevJobs.API/obj/Debug/net6.0/DevJobs.API.MvcApplicationPartsAssemblyInfo.cache
DevJobs.API/obj/Debug/net6.0/DevJobs.API.MvcApplicationPartsAssemblyInfo.cs
DevJobs.API/obj/Debug/net6.0/DevJobs.API.pdb
DevJobs.API/obj/Debug/net6.0/project.razor.json
DevJobs.API/obj/Debug/net6.0/staticwebassets.build.json
DevJobs.API/obj/Debug/net6.0/ref/DevJobs.API.dll
